.selected {
  background-color: #1b4ae4ee;
  color: #ffffff;
  font-weight: 500;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.default {
  display: block;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.5rem;
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.unselect {
  color: black; /* Equivalent to text-purple-700 */
  transition: background-color 0.3s ease; /* Optional: Smooth transition effect */
}

.unselect:hover {
  background-color: #b8b6bb77; /* Equivalent to hover:bg-purple-100 */
}
